@import '../../_setting.scss';
.navbar-app{
    height:$navbar-app-height; 
    padding: 0 $gap;
    display: flex;
    align-items: center;  
    background-color: $appbar-bg-color;      
    font-size: 30px;
    color: aliceblue;
    .trello-container{
      max-width: 100%;
      .app-actions {
        gap: 10px;
        display: inline-flex;
        height: 100%;
        width: 100%;
        flex-direction: row;
        align-items: center;
        #basic-nav-dropdown{
          display:flex;
          align-items: center;
          padding: 5px;
          border-radius: 3px;
          z-index: 100;
          &:hover{
            background-color: rgba(255, 255, 255, 0.4);

          }
        }
        .item{
          padding: 6px 10px;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 3px;
          border:none;
          background-color: $appbar-bg-color;
          color:white;
          &:not(:first-child) {
            margin-left: 4px;
          }
          &:hover{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.4);
          }
          &.search {
            padding: 6px 0;
            color:white;
            background-color: rgba(255, 255, 255, 0.4);
            .group-search {

              height: 19px;
              .input-search{
                max-height: 100%;
                background-color: inherit;
                color: inherit;
                border: none;
                font-size: 14px;
                &::placeholder {
                  color: darken(aliceblue, 5);
                  opacity: 1;
                }
              }
              .input-icon-search {
                padding: 0 8px 0 0;
                background-color: transparent;
                border: none;
                color: inherit;
              }
            }
          }
        }
      }
      .app-branding {
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);

        }
        a {
          color: inherit;
          &:hover {
            text-decoration: none;
            color: lighten(aliceblue, 10);

          }
          img.top-logo {
            width: 30px;
          }
          span.trello-slogan {
            font-size: 12px;
            text-transform: uppercase;
            margin-left: 4px;
            font-weight: bold;
          }
        }
      }
      .user-actions {
        text-align: right;
        display: inline-flex;
        height: 100%;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        #basic-nav-dropdown{
          display:flex;
          align-items: center;
          padding: 5px;
          border-radius: 3px;
          &:hover{
            background-color: rgba(255, 255, 255, 0.4);

          }
          .item-user-avatar{
            img{
              border-radius: 50%;
            }
          }
        }
        button.item {
          padding: 6px 10px;
          background-color: $appbar-bg-color;
          border-radius: 3px;
          color:white;
          border:none;
          &:not(:first-child){
            margin-left: 4px;
          }
          &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.4);
          }
        }
      }
    }

  }

