@import '../../_setting.scss';

$appbar-bg-color:var(--ds-text,#325694);


.navbar-app{
    height:$navbar-app-height;
    padding-left: $gap;
    display: flex;
    align-items: center;
    background-color: $appbar-bg-color;      
    font-size: 30px;
  }