@import '../../_setting.scss';

.navbar{
  background-color: $appbar-bg-color ; 
  width: 12rem; 
  margin-bottom: -100px;
  z-index: 100;
  color:black;
  // border: 1px solid white;
  border-radius: 0 0 10px 10px;
  flex-direction: column;
  gap:10px;
  .button-navbar{
      color: black;   
      width: 8rem; 
      height: 3rem; 
      // border-radius: 0.5rem; 
      border:none;
      

  }
}