*{
  padding : 0px;
  margin: 0px;
}
.header-calendar{
  display: flex; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  align-items: center; 
  border-bottom: 1px solid #1c1b1b12;
.title{
  margin-right: 2.5rem; 
color: #6B7280; 
font-size: 1.25rem;
line-height: 1.75rem; 
}
.img-logo{
  margin-right: 0.5rem; 
  width: 3rem; 
  height: 3rem; 
}
.today{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  margin-right: 1.25rem; 
  border-radius: 0.25rem; 
  border-width: 1px; 
  font-size: 20px;
  color: #1c1b1ba7;
  cursor: pointer;
}
button{
  border: 1px solid #1c1b1b12;
  background-color: #fff;
}
.back-next{
  border:none;
}
.left-right{
  margin-left: 0.5rem;
  margin-right: 0.5rem; 
  color: #1c1b1b69; 
  cursor: pointer; 
}
.text{
  margin-left: 1rem; 
color: #1c1b1ba7; 
font-size: 1.25rem;
line-height: 1.75rem; 
font-weight: 700; 
}

}
