@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400:600');
$gap: 10px;

$board-content-height: 88vh;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;

//color

$board-bg-color:var(--ds-text,#172b4d);
$common-element-bg: rgba(225, 255, 255, .24);

//screen
$screen-lg: 1200px;
$screen-md: 1000px;
$screen-sm: 700px;
$screen-phone: 480px;
